h1{
 text-align: center;
 color : #667292;
  font-size: 35pt;
}

h2{
  text-align: center;
  color : #667292;
}
body {
  margin: 0 auto;
  background-color: #CFE0E8;
  color: #66FCF1;
  width: 38%;
  height: 100%;
  overflow-x: hidden;
}
#backButton{
  background-color: #F9CCAC;
  color: #667292;
  border: 2px solid #667292;
  margin-top: 10px;
  width: 350px;
  height: 40px;
}
#backButton:hover{
  background-color: #D9AD7C;
  cursor: pointer;      
}
#back {
  margin-top: 3em;
  text-align: center;
}
#submit{
  margin-top: 1em;
  text-align: center;      
}
#content {
  margin: 0 auto; 
  width: 500px;
  text-align: center;
  
}
.info {
  margin-top: 2em;
  margin-left: 10px;
  font-size: 15pt;
  height: 40px;
  width: 350px;
  display: inline-block;
}

#background {
  border: 2px solid #667292;
  background-color: white;
  margin-top: 4em;
  padding-bottom: 50px;
}