#fName, #lName, #interest{
  margin-top: 30px;
}
body {
  background-color: #CFE0E8;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html {
  width: 100%;
  height: 100%;
}
#home {
  text-align: left;
  color: #667292;
  margin-left: 45px;
  font-size: 60px;
}
.data {
  width: 66%;
  height: 90%;
  float: right;
  background-color: white;
  color: aliceblue;
  border: 2px solid #667292;
  margin-top: 2em;
}
.image {
  float: left;
  text-align: center;
  margin-left: 10em;
  margin-top: 0em;
}
 
#round {
  width: 150px;
  border-radius: 50%;
}
.persData {
  margin-left: 45px;
  font-size: 25px;
  color: black;
}
.editButtons {
  position: relative;
  text-align: center;
}
.edit {
  margin-top: 2.95em;
  width: 140px;    
  filter: blur(1px);
  cursor: pointer;
}
.edit:hover {
  background-color: #D9AD7C;
}

figcaption {
  font-weight: bold;
  color: #667292;
  font-size: 20pt;
}

.pers {
  font-size: 25pt;
  margin-left: 45px;
  text-decoration: underline;
  color : black;
}
