#fName, #lName, #interest{
  margin-top: 10px;
  font-size: 15pt;
}
body {
  background-color: #1F2833;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
html {
  width: 100%;
  height: 100%;
}
#home {
  text-align: center;
  color: #66FCF1;
}
.data {
  width: 66%;
  height: 50%;
  float: right;
  background-color: #0B0C10;
  color: aliceblue;
  border: 2px solid #C5C6C7;
}
.image {
  width: 33%;
  float: left;
  height: 75%;
  text-align: center;
}
 
#round {
  width: 100px;
  border-radius: 50%;
}
.persData {
  margin-left: 45px;
  font-size: 18pt;
}
.editButtons {
  position: relative;
  text-align: center;
}
.edit {
  margin-top: 10px;
  width: 100px;    
  filter: blur(1px);
  cursor: pointer;
  border: 2px solid #66FCF1;
  background-color: grey;
}
.edit:hover {
  background-color: #45A29E;
}
figcaption{
  font-weight: bold;
  color: #C5C6C7;
}